<div class="modal-footer">
    <button type="button" class="btn default close-button" data-dismiss="modal">@L("Cancel")</button>
    <button type="button" class="btn blue download-button"><i class="fa fa-download"></i> <span>下载</span></button>
</div>