
.hr0 {
    clear: both;
    height: 1px;
    border: none;
    border-top: 1px solid #B8B8B8;
    margin-top: 10px;
    margin-bottom: 0px;
}

a {
    display: block;
    cursor: pointer;
}

.clickBtn {
    background-color: #009688 !important;
    border-radius: 10px !important;
}

.demobtn {
    float: right;
}
.returnBtn a {
    color: #808080;
}
#factory {
    background-color: #90ddff;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
}
 
@media (max-width: 768px) {
    .JobHigh {
        min-height: 500px;
        padding-left:0px;
    }

    .JobName {
        font-size: 16px;
    }

    .Salary {
        font-size: 16px;
        color: green;
    }

    .JobTitle {
        font-size: 18px;
        /*color:#2e62de;*/
        color:#808080;
    }

    .JobMemo {
        /*white-space: pre;*/
        line-height: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 16px;
         
        width: inherit;
        display: block;
        white-space: pre-wrap;
    }
}

@media (min-width: 768px) {
    .returnBtn {
        font-size: 20px;
        display:none;
    }
    .JobHigh {
        min-height: 730px;
        margin-bottom: 10px;
    }
    .JobName {
        font-size: x-large;
         
    }
    .Salary {
        font-size: x-large;
        color:green;
    }
    .JobTitle{
        font-size:18px;
    }
    .JobMemo {
        white-space: pre-wrap;
        line-height: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 16px;
        width: inherit;
        display: block;
    }
}
