
@using Emploee.Web.Areas.Mpa.Models.Common.Modals
@using Emploee.Web.Areas.Mpa.Models.CompanyManage

@model  ShowPictureModal

@* 初始化头部 *@
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("查看营业执照"))
<!--html代码区域-->
<div enctype="multipart/form-data">
    <div>
        <p><img id="showPic" src="@Model.picSrc" class="img-thumbnail" width="1000"></p>
    </div>
</div>
@*<div class="modal-footer">
    <button type="button" class="btn default close-button" data-dismiss="modal">@L("Cancel")</button>
    <a    class=" btn blue " id="download"><i class="fa fa-download"></i> <span>下载</span></a>
     
</div>*@
 


